@charset "Shift_JIS";

/* reset */
body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:68%;
	line-height:1.6;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ', Meiryo ;
	color:#333333;
	background-color:#fcfcfa;
	min-width:1024px;
}

html,body,h1,h2,h3,h4,h5,p,div,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

img{
	border-top:0;
	border-right:0;
	border-bottom:0;
	border-left:0;
}

/*--------------------------------------------------------
  layout
--------------------------------------------------------*/

/* hpb-skip */
#hpb-skip{
	display:none;
}

/* hpb-container */
#hpb-container{
	
	position:relative;
	background-image : url(bg_1X_02_01.png);
	background-position:top left;
	background-repeat:repeat-x;
}

/* hpb-header */
#hpb-header{
	min-width:992px;
	margin-left:auto;
	margin-right:auto;
	padding-top:45px;
	padding-left:32px;
	padding-bottom:50px;
	position:relative;
	overflow:hidden;
	zoom:1;
}

/* hpb-inner */
#hpb-inner{
	min-width: 1024px;
	margin-left:auto;
	margin-right:auto;
	padding-top:24px;
	padding-bottom:30px;
	position:relative;
	overflow:hidden;
	zoom:1;
}

/* hpb-wrapper */
#hpb-wrapper{
	width:820px;
	padding-top:40px;
	float:left;

}

.hpb-layoutset-02 #hpb-wrapper{
	padding-top:64px;
}

/* hpb-title */
.hpb-layoutset-01 #hpb-title{
	width:820px;
	height:260px;
	position:relative;
	background-image : url(top_mainimg_1X.png);
	background-position:top left;
	background-repeat:no-repeat;
}

/* hpb-main */
#hpb-main{
	width:618px;
	padding-left:32px;
	float:left;
}

.hpb-layoutset-02 #hpb-main{
	width:688px;
	padding-top:16px;
}

/* hpb-aside */
#hpb-aside{
	width:192px;
	padding-top:64px;
	float:right;
}

/* hpb-footer */
#hpb-footer{
	min-width:992px;
	margin-left:auto;
	margin-right:auto;
	padding-top:130px;
	padding-bottom:30px;
	padding-left:32px;
	position:relative;
	overflow:hidden;
	zoom:1;
}

/* hpb-nav */
#hpb-nav{
	position:absolute;
	top:0;
	left:32px;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	body{
		min-width: 100%;
	}

	/*--------------------------------------------------------
	  layout
	--------------------------------------------------------*/
	/* hpb-header */
	#hpb-header{
		min-width: 100%;
		padding-top:0;
		padding-left:0;
		padding-bottom:0;
	}
	/* hpb-inner */
	#hpb-inner{
		min-width: 100%;
		padding-top:24px;
		padding-bottom:30px;
	}
	/* hpb-wrapper */
	#hpb-wrapper{
		width: 100%;
		padding-top: 0;
		float:none;
	}
	.hpb-layoutset-02 #hpb-wrapper{
		padding-top: 0;
	}
	/* hpb-title */
	.hpb-layoutset-01 #hpb-title{
		width:100%;
		height:190px;
		position:relative;
		background-size: contain;
	}
	/* hpb-main */
	#hpb-main{
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		float:none;
		padding-bottom: 20px;
	}
	.hpb-layoutset-02 #hpb-main{
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		padding-top:16px;
	}
	/* hpb-aside */
	#hpb-aside{
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		padding-top:0;
		float:none;
		padding-bottom: 20px;
	}
	/* hpb-footer */
	#hpb-footer{
		min-width:100%;
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
	}
	/* hpb-nav */
	#hpb-nav{
		position:relative;
		top:0;
		left:0;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #ddd;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #ddd;
	}



}
