@charset "Shift_JIS";

/* 要素リセット */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #000000; /* 標準文字色 */
    min-width: 900px;
}
/* Safari用ハック 文字サイズ調整 */
/*\*/
html:first-child body{
    font-size: 70%;
}
/* end */

img{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*--------------------------------------------------------
  レイアウト設定
--------------------------------------------------------*/
#hpb-container{
    background-image : url(fbg_1Be.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    position: relative;
}

#hpb-header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 84px;
    overflow: hidden;
}

#hpb-inner{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

#hpb-wrapper{
    width: 650px;
    float: right;
    padding-top: 1px;
    padding-bottom: 50px;
}

.hpb-layoutset-01 #hpb-title{
    height: 200px;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-image : url(top_mainimg_1Be_01.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.hpb-layoutset-02 #hpb-title{
    height: 135px;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    zoom: 100%;
}


#hpb-main{
    text-align: left;
    width: 630px;
    margin-left: auto;
    padding-top: 10px;
    min-height: 450px;
}

* html #hpb-main{
    /* for IE6 */
    height: 450px;
}

#hpb-aside{
    width: 250px;
    float: left;
    padding-bottom: 50px;
}

.hpb-layoutset-02 #hpb-aside
{
}

#hpb-footer{
    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#hpb-nav{
    width: 250px;
    padding-bottom: 25px;
    float: left;
    background-image : url(navbg_1Be_01.png);
    background-position: bottom left;
    background-repeat: repeat-x;
}



/*--------------------------------------------------------
  デザイン設定
--------------------------------------------------------*/
/* 背景設定 */
.hpb-layoutset-01{
    background-image : url(bg_1Be_01_01.png);
    background-position: top left;
    background-repeat: repeat-x;
}

.hpb-layoutset-02{
    background-image : url(bg_1Be_01_02.png);
    background-position: top left;
    background-repeat: repeat-x;
}


/* コンテンツ配置領域 */

/* ナビゲーション */
#hpb-nav ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-nav li{
    display: block;
    height: 51px;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #737373;
    background-color: #ffffff;
    background-image : url(navitembg_1Ba_01.png);
    background-position: right top;
    background-repeat: repeat-y;
}

#hpb-nav li#nav-contact{
    display: block;
    height: 51px;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #737373;
    background-image : url(navitembg_1Ba_01.png);
    background-position: right top;
    background-repeat: repeat-y;
}

#hpb-nav li#nav-toppage{
    display: block;
    height: 51px;
    overflow: hidden;
    border-top-width: 0px;
    background-image : url(navitembg_1Ba_01.png);
    background-position: right top;
    background-repeat: repeat-y;
}

#hpb-nav li a{
    display: block;
    height: 51px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    background-image : url(navitemabg_1Be_01.png);
    background-position: left top;
    background-repeat: no-repeat;
}

#hpb-nav li span.ja{
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding-top: 16px;
}

#hpb-nav li span.en{
    font-size: 10px;
    display: block;
    line-height: 10px;
    text-align: right;
}

#hpb-nav a:link
{
}
#hpb-nav a:visited
{
}
#hpb-nav a:hover
{
}
#hpb-nav a:active
{
}


/*--------------------------------------------------------
  共通パーツデザイン設定
--------------------------------------------------------*/

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	body{
		min-width: 100%;
		border-top-width: 2px;
		border-top-color: #918777;
		border-top-style: solid;
	}

	/*--------------------------------------------------------
	  レイアウト設定
	--------------------------------------------------------*/
	#hpb-container{
		background-image : none;
	}
	#hpb-header{
		width: 100%;
		height: auto;
		background-color: #fafafa;
		padding-bottom: 10px;
	}
	#hpb-inner{
		width: 100%;
	}
	#hpb-wrapper{
		width: 100%;
		float: none;
		padding-top: 0;
		padding-bottom: 0;
	}
	.hpb-layoutset-01 #hpb-title{
		height: 130px;
		background-size: contain;
	}
	.hpb-layoutset-02 #hpb-title{
		height: auto;
		background-color : #ffffff;
		background-image : url(bg_1Be_02_02resp.png);
		background-position: bottom left;
		background-repeat: repeat-x;
		border-bottom-width: 1px;
		border-bottom-color: #d2d2d2;
		border-bottom-style: solid;
	}

	/* コンテンツ左時のインデント設定 */
	#hpb-main{
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0;
		padding-bottom: 20px;
	}
	.hpb-layoutset-02 #hpb-main{
		padding-top: 2em;
	}
	#hpb-aside{
		width: 96%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
	}
	#hpb-footer{
		width: 100%;
		height: auto;
	}
	#hpb-nav{
		width: 100%;
		padding-bottom: 0;
		float: none;
		background-image : none;
		background-color: #fafafa;
		border-top-width: 1px;
		border-top-color: #d2d2d2;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #d2d2d2;
		border-bottom-style: solid;
	}

	/*--------------------------------------------------------
	  デザイン設定
	--------------------------------------------------------*/
	/* 背景設定 */
	.hpb-layoutset-01,
	.hpb-layoutset-02{
		background-image : none;
	}

	/* コンテンツ配置領域 */

	/* ナビゲーション */
	#hpb-nav ul{
		display: none;
	}
	#hpb-nav ul.toggled-on{
		display: block;
	}
	#hpb-nav li{
		height: auto;
		background: none;
	}
	#hpb-nav li#nav-contact,
	#hpb-nav li#nav-toppage{
		height: auto;
		border: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #737373;
		background-image : none;
	}
	#hpb-nav li a{
		height: auto;
		background-image : none;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#hpb-nav li span.ja{
		margin-top: 0;
		letter-spacing: 0;
		line-height: 1.4;
	}
	#hpb-nav li span.ja{
		display: block;
		font-size: 13px;
		line-height: 1.4;
		padding-top: 0;
	}
	#hpb-nav li span.en{
		text-align: right;
	}



}