@charset "Shift_JIS";

/* 要素リセット */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #000000; /* 標準文字色 */
    min-width: 900px;
    background-image : url(fbg_1Nb_01.png);
    background-position: top left;
    background-repeat: repeat-x;
}
/* Safari用ハック 文字サイズ調整 */
/*\*/
html:first-child body{
    font-size: 70%;
}
/* end */

img{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*--------------------------------------------------------
  レイアウト設定
--------------------------------------------------------*/
#hpb-container{
    background-image : url(footerBg_1Nb.png);
    background-position: bottom left;
    background-repeat: repeat-x;
}

#hpb-header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 69px;
}

#hpb-inner{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

.hpb-layoutset-01 #hpb-wrapper{
    padding-top: 56px;
}

.hpb-layoutset-02 #hpb-wrapper{
    padding-top: 56px;
    width: 658px;
    float: right;
}

.hpb-layoutset-01 #hpb-title{
    height: 246px;
    margin: 0px;
    padding: 0;
}

#hpb-main{
    width: 658px;
    float: right;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
}

.hpb-layoutset-01 #hpb-main{
    padding-top: 12px;
}

.hpb-layoutset-02 #hpb-main{
    width: 648px;
    padding-left: 20px;
}

#hpb-aside{
    width: 223px;
    float: left;
    padding-bottom: 20px;
}

.hpb-layoutset-01 #hpb-aside{
    padding-top: 10px;
}

.hpb-layoutset-02 #hpb-aside{
    padding-top: 56px;
}

#hpb-footer{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 5px;
    color: #ffffff;
}

#hpb-footer::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#hpb-nav{
    width: 900px;
    height: 36px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 0px;
}

/*--------------------------------------------------------
  デザイン設定
--------------------------------------------------------*/
/* ヘッダー領域 */

#hpb-headerLogo{
    width: 400px;
    float: left;
}

#hpb-headerMain h1{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
    line-height: 10px;
    font-size: 10px;
    color: #000; /* ヘッダー説明文文字色 */
}

#hpb-headerLogo a{
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 34px;
    background-image : url(logo_1Nb.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#hpb-headerExtra1{
    width: 500px;
    margin-top: -8px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    float: right;
    text-align: right;
}
#hpb-headerExtra1 p.tel{
    /* 電話番号の文字設定 */
    display: inline;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 4px;
    padding-right: 0;
    padding-bottom: 4px;
    padding-left: 30px;
    font-size: 1.7em;
    line-height: 1.4;
    text-align: right;
    letter-spacing: 0.1em;
    background-image : url(pointTel_1Nb.png);
    background-position: center left;
    background-repeat: no-repeat;
}

#hpb-headerExtra1 p.tel span{
    /* 電話番号の「TEL」文字設定 */
    display: none;
}

#hpb-headerExtra1 p.address{
    /* 住所文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.2;
    text-align: right;
}

/* コンテンツ配置領域 */

/* ナビゲーション */
#hpb-nav ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-align: left;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #a0a0a0;
}

#hpb-nav ul::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#hpb-nav li{
    float: left;
    display: inline;
    font-size: 13px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #a0a0a0;
}

* html #hpb-nav li{
    /* ie6用ハック */
    width: 135px;
}

#hpb-nav li a{
    display: block;
    height: 36px;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 15px;
}

* html #hpb-nav li a{
    /* ie6用ハック */
    padding-left: 30px;
    padding-right: 20px;
    font-size: 12px;
}

#hpb-nav li span.en{
    display: none;
}

#hpb-nav a:link{
    background-image : url(mainmenu_1Nb_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#hpb-nav a:visited{
    background-image : url(mainmenu_1Nb_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#hpb-nav a:hover{
    background-image : url(mainmenu_1Nb_01_on.png);
    background-position: left top;
    background-repeat: no-repeat;
}
#hpb-nav a:active{
    background-image : url(mainmenu_1Nb_01_on.png);
    background-position: left top;
    background-repeat: no-repeat;
}

/* サイドブロック内パーツ */
#banner ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li{
    padding-bottom: 7px;
}

#banner li a{
    display: block;
    width: 223px;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-service{
    /* 製品一覧バナー */
    background-image : url(top_banner_1Nb_01_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-recruit{
    /* 採用情報バナー */
    background-image : url(top_banner_1Nb_01_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-access{
    /* アクセスバナー */
    background-image : url(top_banner_1Nb_01_03.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title h2{
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 282px;
    background-image : url(top_mainimg_1Nb_01.png);
    background-position: top center;
    background-repeat: no-repeat;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	body{
		min-width: 100%;
		background-image : none;
	}

	/*--------------------------------------------------------
	  レイアウト設定
	--------------------------------------------------------*/
	#hpb-container{
		background-image : none;
	}
	#hpb-header{
		width: 100%;
		height: auto;
		padding-bottom: 10px;
		background-color: #f3f3f3;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: #6b6b6b;
	}
	#hpb-inner{
		width: 100%;
	}
	.hpb-layoutset-01 #hpb-wrapper{
		padding-top: 0;
		border-top-width: 6px;
		border-top-style: solid;
		border-top-color: #f1f1f1;
	}
	.hpb-layoutset-02 #hpb-wrapper{
		padding-top: 1em;
		width: 100%;
		float: none;
		border-top-width: 6px;
		border-top-style: solid;
		border-top-color: #f1f1f1;
	}
	.hpb-layoutset-01 #hpb-title{
		height: auto;
	}
	#hpb-main{
		width: 96%;
		float: none;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #hpb-main{
		padding-top: 0;
	}
	.hpb-layoutset-02 #hpb-main{
		width: 96%;
		padding-left: 0;
	}
	#hpb-aside{
		width: 96%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #hpb-aside{
		padding-top: 0;
	}
	.hpb-layoutset-02 #hpb-aside{
		padding-top: 0;
	}
	#hpb-footer{
		width: 100%;
		padding-top: 0;
		border-top-width: 6px;
		border-top-style: solid;
		border-top-color: #f1f1f1;
		background-color: #292929;
	}
	#hpb-nav{
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
		border-top-width: 3px;
		border-top-style: solid;
		border-top-color: #b8b7b7;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #bebebe;
		background-color: #dedddd;
	}

	/*--------------------------------------------------------
	  デザイン設定
	--------------------------------------------------------*/
	/* ヘッダー領域 */
	#hpb-headerLogo{
		width: 98%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	#hpb-headerMain h1{
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}
	#hpb-headerLogo a{
		max-width: 100%;
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 10px;
		margin-left: auto;
		background-size: contain;
		background-position: top center;
	}
	#hpb-headerExtra1{
		width: 98%;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}

	/* コンテンツ配置領域 */
	/* ナビゲーション */
	#hpb-nav ul{
		display: none;
		border-left-width: none;
	}
	#hpb-nav ul.toggled-on{
		display: block;
	}
	#hpb-nav li{
		float: none;
		display: block;
		line-height: 1.4;
		height: auto;
		border-right-width: 0;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #a0a0a0;
	}
	#hpb-nav li a{
		display: block;
		height: auto;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#hpb-nav a:link,
	#hpb-nav a:visited,
	#hpb-nav a:hover,
	#hpb-nav a:active{
		background-image : none;
	}
	#hpb-nav a:hover{
		background-color: #c2c2c2;
	}

	/* サイドブロック内パーツ */
	#banner li a{
		max-width: 100%;
	}
	#banner a#banner-service,
	#banner a#banner-recruit,
	#banner a#banner-access{
		background-position: top center;
		background-size: contain;
	}

	/* トップページ デザイン定義 */
	.hpb-layoutset-01 #hpb-title h2{
		height: 160px;
		background-size: contain;
	}



}