@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 10px;
    color: #000000; /* 標準文字色 */
}

#hpb-headerMain h1{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #393939;
}

#hpb-headerLogo{
    width: 500px;
    float: left;
    height: 60px;
}

#hpb-headerLogo a{
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 60px;
    background-image : url(logo_1Be.png);
    background-position: center left;
    background-repeat: no-repeat;
}

#hpb-headerExtra1{
    width: 330px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 7px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    float: right;
}

#hpb-headerExtra1 p.tel{
    /* 電話番号の文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 2.0em;
    font-weight: bold;
    color: #9D8F7B;
    line-height: 1.2;
    text-align: right;
    font-family: Century, "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
}

#hpb-headerExtra1 p.tel span{
    /* 電話番号の「TEL」文字設定 */
    color: #000000;
    font-size: 0.8em;
}

#hpb-headerExtra1 p.address{
    /* 住所文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.2;
    text-align: right;
}

#hpb-headerExtra2
{
}

/* フッター内パーツ */
#hpb-footerMain{
    width: 300px;
    float: right;
    padding-top: 40px;
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    font-size: 0.8em;
    text-align: right;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1{
    padding-top: 11px;
}

#hpb-footerExtra1 ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-footerExtra1 li{
    /* フッターナビ設定 */
    display: inline;
    background-image : url(fpoint_1Be.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e2e2e2;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
    font-weight: bold;
}

#hpb-footerExtra1 a:link{
    color: #666666;
    text-decoration: none;
}
#hpb-footerExtra1 a:visited{
    color: #666666;
    text-decoration: none;
}
#hpb-footerExtra1 a:hover{
    color: #9D8F7B;
    text-decoration: none;
}
#hpb-footerExtra1 a:active{
    color: #9D8F7B;
    text-decoration: none;
}


#hpb-footerExtra2
{
}

/* サイドブロック内パーツ */
#banner
{
}

#banner ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li{
    display: block;
    width: 242px;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 9px;
}

#banner li a{
    display: block;
    width: 242px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-service{
    /* 製品一覧バナー */
    background-image : url(top_banner_1Be_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-recruit{
    /* 採用情報バナー */
    background-image : url(top_banner_1Be_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-access{
    /* アクセスバナー */
    background-image : url(top_banner_1Be_03.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a
{
    /* ナビゲーション文字設定 */
}

#hpb-nav li a:link{
    color: #000000;
    text-decoration: none;
}
/* ナビゲーション文字色設定 */
#hpb-nav li a:visited{
    color: #000000;
    text-decoration: none;
}
#hpb-nav li a:hover{
    color: #9D8F7B;
    text-decoration: none;
}
#hpb-nav li a:active{
    color: #9D8F7B;
    text-decoration: none;
}

#hpb-nav li span.en{
    font-family: Century, "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
    color: #B6AFA4;
}

#hpb-nav li span.ja{
    font-family: "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
}

/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #9D8F7B;
    text-decoration: underline;
}
a:visited{
    color: #9D8F7B;
    text-decoration: underline;
}
a:hover{
    color: #B6AFA4;
    text-decoration: none;
}
a:active{
    color: #B6AFA4;
    text-decoration: none;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 2.0em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    font-size: 1.2em;
}
p.indent{
    padding-left: 35px;
}

.left{
    float: left;
}
.right{
    float: right;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 2.05em;
    padding-left: 20px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2 span.ja{
    display: block;
    text-align: left;
    font-size: 1.25em;
    color: #000000;
    font-family: "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
}

h2 span.en{
    display: block;
    font-size: 0.85em;
    color: #9D8F7B;
    font-weight: normal;
    font-family: Century, "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
}

#hpb-wrapper h3{
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    text-align: left;
    padding-top: 3px;
    padding-left: 1px;
    padding-bottom: 5px;
    font-size: 1.25em;
    background-image : url(indexBg_1Be.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    font-family: Century, "HG明朝B" , "ＭＳ 明朝" , "MS 明朝" ,HeiseiMincho, 'Hiragino Mincho Pro' , 'MS Mincho' ,serif;
}

#hpb-wrapper h3 span.ja{
    display: none;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

h4{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 2px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    color: #928778;
}

h5{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    background-image : url(point_1Be.png);
    background-position: 8px 4px;
    background-repeat: no-repeat;
    font-size: 1.1em;
    line-height: 1.4;
    color: #686053;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 35px;
}

table{
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 0;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e2e2e2;
}

table th{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    background-color: #D6D1CB;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}

table td{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 400px;
    height: 200px;
}

input.l{
    width: 400px;
}
input.m{
    width: 250px;
}
input.s{
    width: 150px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 35px;
    background-image : url(point_1Be.png);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
    color: #000000;
}

#hpb-main dl{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    zoom: 100%;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    font-weight: bold;
    width: 170px !important;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 35px;
    background-image : url(point_1Be.png);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    color: #918677;
}

#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    padding-left: 205px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}

*:first-child + html #hpb-main dd{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd{
    /* for IE6 */
    height: 20px;
    padding-left: 0px;
}

#hpb-main dl::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    margin-left: auto;
    width: 127px;
    height: 21px;
    overflow: hidden;
    background-image : url(returnTop_1Be.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}



/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title{
    /* トップページメインイメージ */
    background-image : url(top_mainimg_1Be_01.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.hpb-layoutset-01 #hpb-title h2{
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
}

#hpb-inner #companyinfo{
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
}

#hpb-inner #companyinfo h3{
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #9D8F7B;
    font-size: 1em;
}

#hpb-inner #companyinfo p{
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 5px;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	/*--------------------------------------------------------
	  共通レイアウトパーツ設定
	--------------------------------------------------------*/
	/* ヘッダー内パーツ */
	#hpb-headerMain{
		padding-top: 0;
	}
	#hpb-headerMain h1{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#hpb-headerLogo{
		width: 98%;
		float: none;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	#hpb-headerLogo a{
		display: block;
		max-width: 100%;
		background-size: contain;
		background-position: top center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	#hpb-headerExtra1{
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
    padding-top: 0;
		float: none;
	}

	/* フッター内パーツ */
	#hpb-footerMain{
		width: 100%;
		float: none;
		background-color: #f5f5f5;
		border-top-width: 1px;
		border-top-color: #d2d2d2;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #d2d2d2;
		border-bottom-style: solid;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#hpb-footerMain p{
		/* コピーライト文字設定 */
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
		word-break: break-all;
	}
	#hpb-footerExtra1{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#hpb-footerExtra1 ul{
		text-align: center;
	}
	#hpb-footerExtra1 li{
		/* フッターナビ設定 */
		display: inline-block;
    border: none;
	}

	/* サイドブロック内パーツ */
	#banner li{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	#banner li a{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#banner a#banner-service,
	#banner a#banner-recruit,
	#banner a#banner-access{
		background-position: top center;
		background-size: contain;
	}

	/*--------------------------------------------------------
	  ナビゲーションデザイン設定
	--------------------------------------------------------*/
	#hpb-nav h3.hpb-c-index{
		width: 27px;
		height: 20px;
		background-image : url(btn_menu.png);
		background-position: top left;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	/*--------------------------------------------------------
	  基本パーツデザイン設定
	--------------------------------------------------------*/
	img.left{
		margin-left: 0;
	}
	img.right{
		margin-right: 0;
	}
	.hpb-layoutset-02 h2{
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2.05em;
		padding-bottom: 2.05em;
    padding-left: 0;
		border: none;
		word-break: break-all;
	}
	table{
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}

	/* フォームパーツ設定 */
	textarea{
		width: 96%;
	}

	input.l{
		width: 96%;
	}
	input.m{
		width: 60%;
	}
	input.s{
		width: 30%;
	}

	/* メインコンテンツ内基本パーツ */
	#hpb-main ul li{
		padding-right: 0;
	}
	#hpb-main dt{
		float: none;
		padding-bottom: 0;
	}
	#hpb-main dd{
		padding-left: 35px;
	}
	#hpb-main img.left{
		margin-right: 0;
		float: none;
	}
	#hpb-main img.right{
		margin-left: 0;
		float: none;
	}



}
