@charset "Shift_JIS";

body{
    background-color: #fff;
	background-image : url(bg_00_21.png);
    background-repeat: repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
    color: #000;
    font: 12px/1.4 "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック" , "Hiragino Kaku Gothic Pro" , "MS PGothic" , sans-serif;
    -webkit-text-size-adjust: none;
}

/* スキップリンクの非表示 */
#hpb-skip{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

body.hpb-layoutset-02 #hpb-skip{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

/* ヘッダー */

#hpb-header{
	margin-top: 7px;
    width: 100%;
	background-image : url(bg_header_00_21.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#hpb-headerMain{
	display: none;
}

#hpb-headerLogo{
	padding-top: 12px;
	padding-bottom: 9px;
}
#hpb-headerLogo a{
	margin-left: auto;
	margin-right: auto;
}
#hpb-headerExtra1{
    display: none;
}

#hpb-headerExtra2{
    display: none;
}

/* タイトル */

.hpb-layoutset-02 #hpb-title h2{
	padding-left: 14px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
	text-shadow: 1px 1px 1px #1c4ac4;
}

/* ナビゲーション */
#hpb-nav{
	margin-bottom: 10px;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}


#hpb-nav ul{
	margin-bottom: 0;
    padding: 0;
    list-style: none;
	text-align: center;
}

#hpb-nav ul::after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-nav ul li{
	display: inline;
	margin:0 -1px;
}
#hpb-nav ul li a{
	background-image : url(ico_file_00_21.png);
    background-position: left center;
	background-repeat: no-repeat;
	color: #000;
	text-decoration: none;
	line-height: 58px;
	padding-left: 40px;
	display: inline-block;
	height: 58px;
	overflow: hidden;
	width: 112px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: left;
}



/* メインコンテンツ */
.hpb-layoutset-02 #hpb-main{
    padding: 0;
}

img, img a{
    border: none !important;
}

.hpb-layoutset-02 .hpb-section p{
	padding-left: 15px;
	padding-right: 15px;
}

.hpb-layoutset-02 .hpb-section > img{
	margin-left: 15px;
}

/* フッター */


#hpb-footerNav{
	text-align: center;
	padding-bottom: 15px;
}

#hpb-footerNav ul{
	list-style: none;
	margin-bottom: 0;
	margin-top: -1px;
	padding: 0;
}

#hpb-footerNav ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 4px;
}

#hpb-footerNav ul li a{
	color: #000;
	display: block;
	text-decoration: none;
	text-align: left;
	text-transform: capitalize;
	height: 33px;
	line-height: 34px;
	overflow: hidden;
}


#hpb-footerExtra1 ul{
	list-style: none;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#hpb-footerExtra1 ul li{
	margin-bottom: 10px;
}
#hpb-footerExtra1 ul li a{
	background-image : url(arrow_00_21.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 26px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000;
}

#hpb-footerExtra1{
	background-image : url(line_00_21.png);
    background-position: top left;
    background-repeat: repeat-x;
	background-color: #fff;
}


#hpb-footerMain{
	padding-bottom: 7px;
	padding-top: 8px;
	background-color: #ffed26;
}

#hpb-footerMain p{
	text-align: center;
	margin: 0;
	font-size: 10px;
}

/* サイドバー領域 */

#hpb-aside{
    margin: 10px 14px 10px 14px;
}

#hpb-aside h3 .en{
	text-transform: uppercase;
}

#banner ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#banner ul li{
    margin-bottom: 3px;
    line-height: 1.1;
	border-width: 1px;
	border-color: #5296f3;
	border-style: solid;
	background-color: #fff;
	border-radius: 5px;
	padding: 0;
}

#banner ul li a{
    background-color: transparent;
    background-image : url(arrow2_00_21.png);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    padding: 8px 10px 8px 22px;
	display: block;
    text-decoration: none;
    font-size: 12px;
	color: #000;
}

/* PC版からの変換対応 */

#hpb-main #pagetop,
#footerExtra1 #pagetop{
	display: none;
}

hr{
   border-width: 1px 0px 0px 0px;
   border-style: solid;
   border-color: #5296f3;
   height: 1px;
   margin-left: 10px;
   margin-right: 10px;
}

.hpb-layoutset-02 #hpb-main form{
	text-align: center;
}
.hpb-layoutset-02 #hpb-main form h3{
	text-align: left;
}
.hpb-layoutset-02 #hpb-main form h4{
	text-align: left;
}
.hpb-layoutset-02 #hpb-main form p{
	text-align: left;
}


/* Second Page ==================== */

.hpb-layoutset-02 #hpb-title h2 .en{
	display: none;
}

.hpb-layoutset-02 #hpb-main h3{
	clear: both;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	background-color: #2077ee;
	color: #fff;
}

.hpb-layoutset-02 #hpb-main h3 .en{
	display: none;
}

.hpb-layoutset-02 #hpb-main h4{
    margin: 10px 0 6px 22px;
    font-size: 14px;
}
.hpb-layoutset-02 #hpb-main p{
	padding: 0 22px;
}

.hpb-layoutset-02 #hpb-main p.large{
	background-color: #ffed26;
	padding: 10px;
	border-radius: 4px;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 15px;
	font-weight: bold;
}

.hpb-layoutset-02 #hpb-main p.indent{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.hpb-layoutset-02 #hpb-main dl{
    margin: 0 22px;
}
.hpb-layoutset-02 #hpb-main dt{
    float: left;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main dd{
    margin: 0 0 5px;
    overflow: hidden;
}

.hpb-layoutset-02 #hpb-main table{
	margin: 0 10px 10px 20px;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #5296f3;
	border-style: solid;
}

.hpb-layoutset-02 #hpb-main th{
	font-weight: normal;
	background-color: #c7dfff;
	text-align: left;
	padding: 4px 6px;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #5296f3;
	border-style: solid;
}

.hpb-layoutset-02 #hpb-main td{
	text-align: left;
	padding: 4px 6px;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #5296f3;
	border-style: solid;
	background-color: #fff;
}

.hpb-layoutset-02 #hpb-main ol{
    margin: 0 22px;
	padding: 0 15px;
}

.hpb-layoutset-02 #hpb-main ol li{
    margin-bottom: 15px;
}

.hpb-layoutset-02 #hpb-main ol h4{
    margin: 0;
}


.hpb-layoutset-02 #hpb-main ul h4{
    margin-left: 0;
}
