@charset "Shift_JIS";

/* 要素リセット */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color : #ffffff; /* 標準文字色 */
    min-width: 1200px;
	background-color : #1d1b1a;
}
/* Safari用ハック 文字サイズ調整 */
/*\*/
html:first-child body{
    font-size: 70%;
}
/* end */

img{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*--------------------------------------------------------
  レイアウト設定
--------------------------------------------------------*/

#hpb-main{
    width: 648px;
    float: left;
    text-align: left;
    padding-bottom: 20px;
	margin-left: 114px;
}

.hpb-layoutset-01 #hpb-main{
    padding-top: 470px;
	
}
.hpb-layoutset-02 #hpb-main{
    margin-top: 210px;
	background-image : url(topicsBg_1D1b.png);
    background-position: top left;
    background-repeat: no-repeat;
	padding-top: 30px;
	padding-bottom: 24px;
	background-color: #262423;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
	width: 608px;
}

#hpb-aside{
    width: 269px;
    float: right;
    text-align: left;
	padding-bottom: 20px;
	padding-right: 113px;
}
.hpb-layoutset-01 #hpb-aside{
	padding-top: 480px;
}
.hpb-layoutset-02 #hpb-aside{
	padding-top: 207px;
}

#hpb-footer{
    clear: both;
}


#hpb-nav{
    position: absolute;
	top: 376px;
	left: 115px;
	width: 972px;
}
.hpb-layoutset-02 #hpb-nav{
	top: 117px;
}

/*--------------------------------------------------------
  背景設定
--------------------------------------------------------*/
.hpb-layoutset-01{
	background-image : url(bg_1D1b_01.png);
    background-position: top left;
    background-repeat: repeat-x;
}

.hpb-layoutset-02{
	background-image : url(bg_1D1b_02.png);
    background-position: top left;
    background-repeat: repeat-x;
}
/*--------------------------------------------------------
  デザイン設定
--------------------------------------------------------*/
/* タイトル */

.hpb-layoutset-01 #hpb-title{
    width: 1200px;
    height: 367px;
    text-indent: -9999px;
    overflow: hidden;
	background-image : url(top_mainimg_1D1b.png);
    background-position: top left;
    background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: 0px;
}

.hpb-layoutset-02 #hpb-title{
    width: 1200px;
    height: 108px;
	background-image : url("ball-63527_1280 のコピー.jpg");
    background-position: top left;
    background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: 0px;
}

/* ナビゲーション */

#hpb-nav ul{
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0px;
    padding-bottom: 0;
    list-style-type: none;
    text-align: left;
	letter-spacing: -0.4em;
	height: 49px;
	overflow:hidden;
}


#hpb-nav li{
    display: inline-block;
    font-size: 11px;
	letter-spacing: 0.1em;
}

#hpb-nav li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
	height: 49px;
	line-height: 49px;
	
}
#hpb-nav li a:hover{
	background-image : url(mainmenu_1D1b_01_on.png);
    background-position: top left;
    background-repeat: repeat-x;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	body{
		min-width: 100%;
	}

	/*--------------------------------------------------------
	  レイアウト設定
	--------------------------------------------------------*/
	#hpb-inner{
		width: 100%;
	}
	#hpb-main{
		width: 96%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #hpb-main{
		padding-top: 0;
	}
	.hpb-layoutset-02 #hpb-main{
		margin-top:2em;
		margin-bottom:2em;
		background-image : none;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 96%;
		box-sizing: border-box;
		border-top-width: 5px;
		border-top-style: solid;
		border-top-color: #423c39;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	#hpb-aside{
		width: 96%;
		float: none;
		padding-top: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #hpb-aside{
		padding-top: 0;
	}
	.hpb-layoutset-02 #hpb-aside{
		padding-top: 0;
	}
	#hpb-nav{
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;
		border-top-width: 2px;
		border-top-style: solid;
		border-top-color: #2d2b2c;
		border-bottom-width: 7px;
		border-bottom-style: solid;
		border-bottom-color: #0062b5;
		background-color: #222020;
	}
	.hpb-layoutset-02 #hpb-nav{
		top: 0;
	}

	/*--------------------------------------------------------
	  背景設定
	--------------------------------------------------------*/
	.hpb-layoutset-01,
	.hpb-layoutset-02{
		background-image : none;
	}

	/*--------------------------------------------------------
	  デザイン設定
	--------------------------------------------------------*/
	/* タイトル */
	.hpb-layoutset-01 #hpb-title{
		width: 100%;
		height: 170px;
		overflow: hidden;
		background-size: contain;
		position: relative;
		top: 0;
		left: 0;
	}
	.hpb-layoutset-02 #hpb-title{
		width: 100%;
		background-size: cover;
		position: relative;
		top: 0;
		left: 0;
	}

	/* ナビゲーション */
	#hpb-nav ul{
		display: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #2d2b2c;
		height: auto;
	}
	#hpb-nav ul.toggled-on{
		display: block;
	}
	#hpb-nav li{
		display: block;
	}
	#hpb-nav li a{
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
		line-height: 1.4;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #2d2b2c;
	}
	#hpb-nav li:last-child a{
		border: none;
	}


}