@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */

#hpb-headerMain{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/* フッター内パーツ */

#hpb-footerMain{
    width: 450px;
    float: left;
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    font-size: 10px;
    color: #c9c9c9;
    line-height: 1;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

#hpb-footerExtra1{
    width: 450px;
    float: left;
}

#hpb-footerExtra1 ul{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

#hpb-footerExtra1 li{
    /* フッターナビ設定 */
    display: inline;
    background-image : url(fpoint_1Nb.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: normal;
}

#hpb-footerExtra1 a:link{
    color: #fff;
    text-decoration: underline;
}
#hpb-footerExtra1 a:visited{
    color: #fff;
    text-decoration: underline;
}
#hpb-footerExtra1 a:hover{
    color: #fff09e;
    text-decoration: underline;
}
#hpb-footerExtra1 a:active{
    color: #fff09e;
    text-decoration: underline;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a{
    /* ナビゲーション文字設定 */
    font-weight: normal;
}

#hpb-nav li a:link{
    color: #000;
    text-decoration: none;
}
/* ナビゲーション文字色設定 */
#hpb-nav li a:visited{
    color: #000;
    text-decoration: none;
}
#hpb-nav li a:hover{
    color: #000;
    text-decoration: none;
}
#hpb-nav li a:active{
    color: #000;
    text-decoration: none;
}

#hpb-nav li span.en{
    display: none;
}
/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #006699;
    text-decoration: underline;
}
a:visited{
    color: #006699;
    text-decoration: underline;
}
a:hover{
    color: #f3bd00;
    text-decoration: none;
}
a:active{
    color: #64BEE6;
    text-decoration: none;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding-right: 20px;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    font-weight: bold;
}
p.indent{
    padding-left: 15px;
}

.left{
    float: left;
}

img.left{
    margin-left: 14px;
}

.right{
    float: right;
}

img.right{
    margin-right: 24px;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    height: 34px;
    overflow: hidden;
    background-image : url(indexBg_1Nb.png);
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 34px;
    padding-left: 20px;
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

h2 span.en{
    display: none;
}

.hpb-layoutset-02 #hpb-wrapper h3{
    clear: both;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 10px;
    text-align: left;
    padding-top: 3px;
    padding-left: 1px;
    padding-bottom: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #a0a0a0;
    font-size: 1.3em;
    color: #333;
    font-weight: bold;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

h4{
    margin-top: 0;
    margin-right: 14px;
    margin-bottom: 1em;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    color: #2a3873;
    font-weight: bold;
}

h5{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    text-align: left;
    background-image : url(point_1Nb.png);
    background-position: left top;
    background-repeat: no-repeat;
    font-size: 1.1em;
    line-height: 1.2;
    color: #333333;
}

table{
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 10px;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ccc;
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #ccc;
}

table th{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    background-color: #d8e8fa;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

table td{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

textarea{
    width: 400px;
    height: 200px;
}

input.l{
    width: 400px;
}
input.m{
    width: 250px;
}
input.s{
    width: 150px;
}

/* メインコンテンツ内基本パーツ */

#hpb-main p{
    margin-left: 10px;
    margin-right: 10px;
}

#hpb-main ul{
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-image : url(point_1Nb.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    color: #000000;
}

#hpb-main dl{
    margin-top: 0;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    zoom: 100%;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    font-weight: normal;
    width: 170px !important;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 25px;
    background-image : url(point_1Nb.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
}

#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    padding-left: 195px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}

*:first-child + html #hpb-main dd{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd{
    /* for IE6 */
    height: 20px;
    padding-left: 0px;
}

#hpb-main dl::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    margin-left: auto;
    background-image : url(returnTop_1Nb.png);
    background-position: center left;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    width: 80px;
    height: 24px;
}

/* トップページ デザイン定義 */

#toppage h3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 34px;
    overflow: hidden;
    background-image : url(top_indexBg_1Nb_01.png);
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 32px;
    padding-left: 20px;
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

#toppage h3 span.ja{
    display: none;
}

#toppage-topics{
    background-image : url(top_indexBg_1Nb_02.png);
    background-position: 34px left;
    background-repeat: repeat-x;
}

#toppage-news{
    background-image : url(top_indexBg_1Nb_02.png);
    background-position: 34px left;
    background-repeat: repeat-x;
}

#hpb-inner #companyinfo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #676464;
    border-width: 3px;
    border-style: solid;
    border-color: #dbdbdb;
    color: #fff;
}

#hpb-inner #companyinfo h3{
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: bold;
    background-image : url(pointAside_1Nb.png);
    background-position: center left;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 1em;
}

#hpb-inner #companyinfo p{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	/*--------------------------------------------------------
	  共通レイアウトパーツ設定
	--------------------------------------------------------*/
	/* ヘッダー内パーツ */
	/* フッター内パーツ */
	#hpb-footerMain{
		width: 100%;
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#hpb-footerMain p{
		/* コピーライト文字設定 */
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0;
		margin-bottom: 0;
		text-align: center;
		word-break: break-all;
	}
	#hpb-footerExtra1{
		width: 100%;
		float: none;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#hpb-footerExtra1 ul{
		padding-right: 10px;
		text-align: center;
	}
	#hpb-footerExtra1 li{
		/* フッターナビ設定 */
		display: inline-block;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	/*--------------------------------------------------------
	  ナビゲーションデザイン設定
	--------------------------------------------------------*/
	#hpb-nav h3.hpb-c-index{
		width: 27px;
		height: 20px;
		background-image : url(btn_menu.png);
		background-position: top left;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	/*--------------------------------------------------------
	  基本パーツデザイン設定
	--------------------------------------------------------*/
	p{
		padding-right: 0;
		padding-left: 0;
	}
	p.indent{
		padding-left: 10px;
	}
	img.left{
		margin-left: 0;
	}
	img.right{
		margin-right: 0;
	}
	hr{
		margin-right: 0;
	}
	.hpb-layoutset-02 h2{
		height: auto;
		background-image : none;
		background-color : #26272a;
		border-left-width: 4px;
		border-left-style: solid;
		border-left-color: #348def;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		line-height: 1.4;
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 16px;
		word-break: break-all;
	}
	.hpb-layoutset-02 #hpb-wrapper h3{
		margin-right: 0;
	}
	h4{
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
	}
	h5{
		margin-left: 0;
		padding-right: 0;
	}
	table{
		width: 96%;
		margin-right: auto;
		margin-left: auto;
	}

	/* フォームパーツ設定 */
	textarea{
		width: 96%;
	}
	input.l{
		width: 96%;
	}
	input.m{
		width: 60%;
	}
	input.s{
		width: 30%;
	}

	/* メインコンテンツ内基本パーツ */
	#hpb-main p{
		margin-left: 0;
		margin-right: 0;
	}
	#hpb-main ul li{
		padding-right: 0;
	}
	#hpb-main dl{
		margin-right: 10px;
	}
	#hpb-main dt{
		float: none;
		max-width: 100%;
		padding-bottom: 0;
		box-sizing: border-box;
	}
	#hpb-main dd{
		padding-right: 0;
		padding-left: 25px;
	}
	#hpb-main img.left{
		margin-right: 0;
		float: none;
	}
	#hpb-main img.right{
		margin-left: 0;
		float: none;
	}

	/* トップページ デザイン定義 */
	#toppage h3{
		height: auto;
		background-image : none;
		background-color : #26272a;
		border-left-width: 4px;
		border-left-style: solid;
		border-left-color: #348def;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		border-top-top-left-radius: 6px;
		border-top-top-right-radius: 6px;
		line-height: 1.4;
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 16px;
	}



}