@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain{
    height: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#hpb-headerMain h1{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 11px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
    line-height: 1.2;
    font-size: 10px;
}

#hpb-headerLogo{
    width: 527px;
    padding-top: 1px;
    margin-left: 0;
    margin-right: auto;
}

#hpb-headerLogo a{
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 32px;
    background-image : url(logo_1Z.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#hpb-headerExtra2 {
}

/* フッター内パーツ */
#hpb-footerMain{
    width: 300px;
    float: right;
    padding-top: 10px;
    color: #4C4C4C;
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    font-size: 0.8em;
    text-align: right;
    padding-right: 10px;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1{
    width: 550px;
    float: left;
    padding-top: 10px;
}

#hpb-footerExtra1 ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-footerExtra1 li{
    /* フッターナビ設定 */
    display: inline;
    padding-left: 25px;
}

#hpb-footerExtra1 a:link{
    color: #4C4C4C;
    text-decoration: none;
}
#hpb-footerExtra1 a:visited{
    color: #4C4C4C;
    text-decoration: none;
}
#hpb-footerExtra1 a:hover{
    color: #4C4C4C;
    text-decoration: underline;
}
#hpb-footerExtra1 a:active{
    color: #4C4C4C;
    text-decoration: underline;
}

#hpb-footerExtra2
{
}

/* サイドブロック内パーツ */
#banner
{
}

#banner ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li
{
}

#banner li a{
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.hpb-layoutset-01 #banner li a{
    float: left;
    width: 206px;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 14px;
}

#banner a#banner-service{
    /* 製品一覧バナー */
    background-image : url(banner_1Z_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-recruit{
    /* 採用情報バナー */
    background-image : url(banner_1Z_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-access{
    /* アクセスバナー */
    background-image : url(banner_1Z_03.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#companyinfo{
    color: #FFFFFF;
    width: 200px;
    margin-left: auto;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.hpb-layoutset-01 #companyinfo{
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-image : url(access_1Z.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#companyinfo h3{
    font-size: 1em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 90px;
    padding-left: 10px;
    padding-bottom: 12px;
    padding-right: 10px;
}

#companyinfo p{
    color: #797979;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #AEAEB4;

}

.hpb-layoutset-02 #banner li a{
    float: left;
    width: 210px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0px;
}

.hpb-layoutset-02 #banner a#banner-service{
    /* 製品一覧バナー */
    background-image : url(banner_1Z_01_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.hpb-layoutset-02 #banner a#banner-recruit{
    /* 採用情報バナー */
    background-image : url(banner_1Z_02_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.hpb-layoutset-02 #banner a#banner-access{
    /* アクセスバナー */
    background-image : url(banner_1Z_03_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.hpb-layoutset-02 #companyinfo{
    width: 210px;
    margin-left: auto;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 20px;
    background-image : url(access_1Z_02.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.hpb-layoutset-02 #companyinfo{
    float: right;
    width: 210px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #58CDD6;
}

.hpb-layoutset-02 #companyinfo p{
    color: #797979;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    border-left-width: 0px;
    border-left-style: none;
    border-left-color: #AEAEB4;

}



/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a
{
    /* ナビゲーション文字設定 */
}



/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #0096D0;
    text-decoration: underline;
}
a:visited{
    color: #0096D0;
    text-decoration: underline;
}
a:hover{
    color: #0096D0;
    text-decoration: none;
}
a:active{
    color: #0096D0;
    text-decoration: none;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    font-size: 1.2em;
    margin-bottom: 1em;
    padding-left: 10px;
}
p.indent{
    padding-left: 5px;
}

.left{
    float: left;
}
.right{
    float: right;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    width: 650px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 50px;
    line-height: 57px;
    text-align: left;
    overflow: hidden;
}

.hpb-layoutset-02 h2 span.ja{
    display:none;
}

h2 span.en{
    font-size: 2em;
    color: #75757E;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 18px;
}

#hpb-wrapper h3{
    color: #75757E;
    height: 40px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
		text-transform: capitalize;
    padding-left: 10px;
    line-height: 43px;
    overflow: hidden;
    font-size: 3em;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

.hpb-layoutset-02 #hpb-wrapper h3{
    color: #58CDD6;
    height: 40px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
		text-transform: capitalize;
    padding-left: 10px;
    line-height: 43px;
    overflow: hidden;
    font-size: 1.55em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #58CDD6;
}


h4{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 5px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    color: #0096D0;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    color: #0096D0;
}

table{
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 0;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cccccc;
}

table th{
    color: #ffffff;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
		background-color: #75757F;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

table td{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 400px;
    height: 200px;
}

input.l{
    width: 400px;
}
input.m{
    width: 250px;
}
input.s{
    width: 150px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
		background-image : url(topics_1Z.png);
		background-position: 0px 10px;
		background-repeat: no-repeat;
}

#hpb-main dl{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    zoom: 100%;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    font-weight: bold;
    width: 170px !important;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0px;
    color: #797979;
}

.hpb-layoutset-02 #hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    font-weight: bold;
    width: 155px !important;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 25px;
    color: #797979;
		background-image : url(topics_1Z_01.png);
    background-position: 0px 10px;
    background-repeat: no-repeat;
}



#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    padding-left: 180px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #aaaaaa;
}

*:first-child + html #hpb-main dd{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd{
    /* for IE6 */
    padding-left: 0px;
    height: 20px;
}

#hpb-main dl::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    margin-left: auto;
    width: 29px;
    height: 31px;
    overflow: hidden;
    background-image : url(returnTop_1Z.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}



/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title h2{
    margin-top: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 335px;
    background-image : url(mainimg_1Z.png);
    background-position: top center;
    background-repeat: no-repeat;
}


#toppage-news h3 span.ja{
    display: none;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	/*--------------------------------------------------------
	  共通レイアウトパーツ設定
	--------------------------------------------------------*/
	/* ヘッダー内パーツ */
	#hpb-headerMain{
		height: auto;
	}
	#hpb-headerMain h1{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#hpb-headerLogo{
		width: 98%;
		padding-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#hpb-headerLogo a{
		display: block;
		max-width: 100%;
		height: 32px;
		background-size: contain;
		background-position: top center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	/* フッター内パーツ */
	#hpb-footerMain{
		width: 100%;
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#hpb-footerMain p{
		/* コピーライト文字設定 */
		text-align: center;
		padding-right: 5px;
		padding-left: 5px;
		margin: 0;
		word-break: break-all;
	}
	#hpb-footerExtra1{
		width: 100%;
		float: none;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#hpb-footerExtra1 ul{
		text-align: center;
	}
	#hpb-footerExtra1 li{
		/* フッターナビ設定 */
		display: inline-block;
		padding-right: 15px;
		padding-left: 15px;
	}

	/* サイドブロック内パーツ */
	#banner li a{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #banner li a{
		float: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	#banner a#banner-service,
	#banner a#banner-recruit,
	#banner a#banner-access{
		background-position: top center;
		background-size: contain;
	}
	#companyinfo{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-01 #companyinfo{
		float: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-position: top center;
	}
	.hpb-layoutset-02 #banner li a{
		float: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.hpb-layoutset-02 #banner a#banner-service,
	.hpb-layoutset-02 #banner a#banner-recruit,
	.hpb-layoutset-02 #banner a#banner-access{
		background-position: top center;
		background-size: contain;
	}
	.hpb-layoutset-02 #companyinfo{
		float: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-position: top center;
	}

	/*--------------------------------------------------------
	  ナビゲーションデザイン設定
	--------------------------------------------------------*/
	#hpb-nav h3.hpb-c-index{
		width: 27px;
		height: 20px;
		background-image : url(btn_menu.png);
		background-position: top left;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	/*--------------------------------------------------------
	  基本パーツデザイン設定
	--------------------------------------------------------*/
	p.large{
		padding-left: 0;
	}
	.hpb-layoutset-02 h2{
		width: 100%;
		height: auto;
		line-height: 1;
		overflow: visible;
		word-break: break-all;
	}
	h2 span.en{
		font-size: 1.8em;
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#hpb-wrapper h3{
		font-size: 2.5em;
	}

	table{
		width: 96%;
	}

	/* フォームパーツ設定 */
	input.button{
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 10px;
	}
	textarea{
		width: 96%;
	}
	input.l{
		width: 96%;
	}
	input.m{
		width: 60%;
	}
	input.s{
		width: 30%;
	}

/* メインコンテンツ内基本パーツ */
	#hpb-main dt{
		float: none;
		width: auto;
		padding-bottom: 0;
	}
	.hpb-layoutset-02 #hpb-main dt{
		float: none;
		width: auto;
		padding-bottom: 0;
	}
	#hpb-main dd{
		padding-left: 25px;
	}
	#hpb-main img.left{
		margin-right: 0;
		float: none;
	}
	#hpb-main img.right{
		margin-left: 0;
		float: none;
	}

	/* トップページ デザイン定義 */
	.hpb-layoutset-01 #hpb-title h2{
		height: 210px;
		background-size: contain;
	}



}
