@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain{
    color: #FFFFFF;
    padding-left: 3px;
}

#hpb-headerMain h1{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-weight: normal;
    line-height: 20px;
    font-size: 1em;
	color:#000000;
}


#hpb-headerLogo a{
	width:100px;
	height:100px;
    position:fixed;
	background-image : url(Yb_sitelogo.png);
	z-index:999;
	text-indent:-9999px;
}

#hpb-headerExtra1{
    display:block;
	text-indent:-9999px;
	background:#FFF;
	top:0;
	position:fixed;
	width:100%;
	background-color: rgba(255,255,255,0.7);/* IE用 */
	-moz-opacity: 0.7;/* FX用 */
	opacity: 0.7;/* Safari用 */
}

#hpb-headerExtra1 p.tel
{
    /* 電話番号の文字設定 */
}

#hpb-headerExtra1 p.tel span
{
    /* 電話番号の「TEL」文字設定 */
}

#hpb-headerExtra1 p.address
{
    /* 住所文字設定 */
}

/* フッター内パーツ */

#hpb-footerExtra1{
    width: 300px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 217px;
    height: 20px;
}

#hpb-footerExtra1 ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 8px;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-footerExtra1 li{
    /* フッターナビ設定 */
    margin: 0;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0;
    display: inline;
}

#hpb-footerExtra1 li a:link{
    color: #a6afb5;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
#hpb-footerExtra1 li a:visited{
    color: #a6afb5;
    text-decoration: none;
}
#hpb-footerExtra1 li a:hover{
    color: #00abd0;
    text-decoration: underline;
}
#hpb-footerExtra1 li a:active{
    color: #00abd0;
    text-decoration: underline;
}

#hpb-footerMain{
    width:auto;
    position: absolute;
    top:30px;
	right:0;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 270px;
    height: 20px;
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    margin: 0;
    padding-right: 10px;
    padding-bottom: 0;
    line-height: 24px;
    color:#abaeb5;
    text-align: right;
	font-weight:normal;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/


/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
}

p{
    margin: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    line-height: 16px;
    text-align: left;
	color: #333333;
}

.hpb-layoutset-02 p{
    padding-right: 30px;
}

p.large
{
	
}

p.indent{
    padding-left: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* リンク文字色 */
a:link{
    color: #FFFFFF;
	text-decoration:none;
}
a:visited{
	color:#A6AEB5;
	text-decoration:none;
}
a:hover{
    color: #fbe03d;
	text-decoration:none;
}
a:active{
    color: #fbe03d;
	text-decoration:none;
}

hr{
    height: 1px;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-left-width: 1px;
    border-left-style: none;
}

.hpb-layoutset-02 h2{
    width: 570px;
    float: left;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    text-align: left;
    font-size: 1.17em;
    line-height: 16px;
    color: #333333;
}

.hpb-layoutset-02 h2 span.ja{
    display: block;
    float: right;
    width: 250px;
    text-align: right;
    padding-right: 6px;
}

.hpb-layoutset-02 h2 span.en{
    padding-top: 0;
    padding-right: 0;
    padding-left: 6px;
    padding-bottom: 0;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 250px;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: normal;
}

.hpb-layoutset-02 h2::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-wrapper h3{
	clear: both;
	color: #777777;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	border-left: 5px solid #a6aeb5;
	background:#fbe03d;
	font-weight: normal;
}

.hpb-layoutset-01 #hpb-wrapper h3{
    clear: both;
	margin-bottom:10px;
}

/* #hpb-wrapper #hpb-main h3:first-child
{
    margin-top: 5px;
} */
h3.hpb-c-index{
    display: none;
}

h4{
    clear: both;
    margin: 0;
    text-align: left;
    font-size: 1em;
    line-height: 16px;
    font-weight: normal;
    font-size: 1.3em;
    font-family: Century, HeiseiMincho, 'Hiragino Mincho Pro' , "ＭＳ 明朝" , 'MS Mincho' , serif;
}

h5{
    clear: both;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1em;
    line-height: 16px;
    font-weight: normal;
    font-size: 1.2em;
    font-family: Century, HeiseiMincho, 'Hiragino Mincho Pro' , "ＭＳ 明朝" , 'MS Mincho' , serif;
}

strong{
	color:#fbe03d;
}

table{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    border-collapse: collapse;
	}

table th{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    font-weight: normal;
    background-color: #fbe03d;
	color:#777777;
}

table td{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    background-color: #fff;
}


/* フォームパーツ設定 */
input.button{
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}

textarea{
    width: 400px;
    height: 200px;
}

input.l{
    width: 400px;
}
input.m{
    width: 250px;
}
input.s{
    width: 150px;
}

/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 0;
    list-style-type: none;
}

#hpb-main ul li{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    line-height: 1.5;
}

#hpb-main dl{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
}

#hpb-main dt{
    float: left;
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 7px;
    padding-left: 4px;
    text-align: left;
    line-height: 15px;
    min-height: 15px;
	font-size:1.1em;
    width: 160px !important;
	color:#555555;
}

#hpb-main dd{
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 170px;
    text-align: left;
    line-height: 15px;
    min-height: 15px;
	font-size:1.1em;
	color:#222222;
}

/*===========================
ここらへんから無視
=========================== */

*:first-child + html #hpb-main dd{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd{
    /* for IE6 */
    padding-left: 0px;
    height: 20px;
}

#hpb-main dl::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img{
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: 20px;
}

#hpb-main img.left{
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 0;
    float: left;
}

#hpb-main img.right{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    float: left;
}
/*===========================
ここらへんまで無視
=========================== */



/* アクセスページ デザイン定義 */

#access{
    text-align: left;
	padding:0 0 30px 0;
	margin-bottom:30px;
}

#access p{
	color:#222222;
	padding:0 0 0 20px;
	margin:30px 0;
}

#access .img{
	margin:20px;
}


/* 商品紹介ページ デザイン定義 */

#item .itemlist{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

#item .itemlist::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#item .itemlist .item{
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    padding-top: 6px;
    padding-right: 0;
    padding-bottom: 6px;
    padding-left: 0;
    float: left;
    text-align: center;
}

#item .itemlist .item img{
    margin-bottom: 6px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
}

#item .itemlist .item .itemdata{
	width: 160px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
}

#item .itemlist .item .itemdata p{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: left;
}

#item #nbanner{
    width: 570px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#item #nbanner a{
    width: 570px;
    height: 70px;
    display: block;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background-position: top left;
    background-repeat: no-repeat;
}


/* フォーム */
#contactus form{
    text-align: center;
}

#contactus form h3{
    text-align: left;
}

#contactus form table{
    margin-left: auto;
}

/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	/*--------------------------------------------------------
	  共通レイアウトパーツ設定
	--------------------------------------------------------*/
	#hpb-container{
		width: 100%;
		margin-top: 0;
		background-image:none;
		position:relative;
	}

	/* ヘッダー内パーツ */
	#hpb-header{
		width: 100%;
		padding-bottom: 5px;
		height:auto;
		position:relative;
		background-color: #fbe03d;
	}
	#hpb-headerLogo{
		width: 98%;
		height:auto;
		float: none;
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:0;
		position:relative;
		top: 0;
		left: 0;
	}
	#hpb-headerMain{
		width:auto;
		position:relative;
		top:0;
		height: auto;
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:0;
		background-color:#ffffff;
		font-size:0.9em;
	}
	#hpb-headerMain h1{
		margin-top:0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom:0;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 1.4;
		text-align: left;
		color:#999999;
	}
	#hpb-headerLogo a{
		display: block;
		max-width: 100%;
		height: 72px;
		background-size: contain;
		background-position: top center;
		background-repeat:no-repeat;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		position:relative;
		top: 0;
		left: 0;
	}
	#hpb-headerExtra1{
		display:none;
	}
	#hpb-headerExtra1 p{
		display:block;
		padding-left:0;
		padding-right:0;
		padding-bottom:5px;
		color:#021d2e;
		text-align:center;
	}

	/* フッター内パーツ */
	#hpb-footerMain{
		margin-top:5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left:0;
		padding-right:0;
		border-top: 1px solid #FFFFFF;
		height:auto;
		width:100%;
		position:relative;
		top:0;
	}
	#hpb-footerMain p{
		/* コピーライト文字設定 */
		padding-left: 5px;
		padding-right: 5px;
		word-break: break-all;
		display: block;
		font-size: 0.9em;
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
		width: auto;
	}
	#hpb-footerExtra1{
		height:auto;
		margin: 0 auto;
		padding-left: 5px;
		padding-right:5px;
		padding-top: 5px;
		padding-bottom:5px;
		position: relative;
		width: auto;
		z-index: 3;
	}
	#hpb-footerExtra1 ul{
		text-align: center;
		width: auto;
		margin-top:0px;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
	}
	#hpb-footerExtra1 li{
		/* フッターナビ設定 */
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		padding-right: 0;
		padding-top: 5px;
		padding-bottom:5px;
	}
	#hpb-footer{
		border-top: 1px solid #FFFFFF;
		overflow:visible;
		padding-left: 0px;
		padding-right:0px;
		padding-top: 5px;
		padding-bottom:5px;
		position: relative;
		height:auto;
	}
	/*--------------------------------------------------------
	  ナビゲーションデザイン設定
	--------------------------------------------------------*/
	#hpb-nav h3.hpb-c-index{
		display:block;
		width: 27px;
		height: 20px;
		background-image : url(btn_menu.png);
		background-position: top left;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	/*--------------------------------------------------------
	  基本パーツデザイン設定
	--------------------------------------------------------*/
	#hpb-wrapper h3,
	#hpb-main #toppage h3{
		width:auto;
		float:none;
	}
	p{
		padding-right: 0;
		padding-left: 0;
	}
	img.left{
		margin-left: 10px;
		margin-right: 10px;
	}
	img.right{
		margin-left: 10px;
		margin-right: 10px;
	}
	.hpb-layoutset-02 h2,
	.hpb-layoutset-02 #hpb-title h2{
		width: 96%;
		padding-left: 0;
		padding-top: 25px;
		line-height: 1.4;
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:0;
		word-break: break-all;
		text-indent:10px;
		color:#00ABD0;
	}
	table{
		width: 96%;
		margin-right: auto;
		margin-left: auto;
	}

	/* フォームパーツ設定 */
	#contactus textarea,
	textarea{
		width: 96%;
		padding:3px;
	}

	#contactus input.l,
	input.l{
		width: 96%;
		padding:3px;
	}
	#contactus input.m,
	input.m{
		width: 60%;
		padding:3px;
	}
	#contactus input.s,
	input.s{
		width: 30%;
		padding:3px;
	}

	/* メインコンテンツ内基本パーツ */
	#hpb-main ul li{
		padding-right: 0;
	}
	dl{
		width:auto;
		margin-top:10px;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
	}
	#hpb-main dt{
		float: none;
		line-height: 1.4;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:10px;
		padding-bottom:0;
		padding-left: 5px;
		padding-right: 5px;
		min-height:5px;
		width:auto !important;
		height:auto;
		text-align:left;
	}
	#hpb-main dd{
		line-height: 1.4;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:5px;
		padding-bottom:10px;
		padding-left: 10px;
		padding-right: 10px;
		height:auto;
		border-bottom:2px solid #999999;
	}
	#hpb-main img.left{
		margin-left: 10px;
		margin-right: 10px;
		float: none;
	}
	#hpb-main img.right{
		margin-left: 10px;
		margin-right: 10px;
		float: none;
	}

	.hpb-layoutset-01 #pagetop,
	.hpb-layoutset-02 #pagetop,
	#hpb-main #concept #pagetop,
	#hpb-main #company #pagetop,
	#hpb-main #recruit #pagetop,
	#hpb-main #access #pagetop,
	#hpb-main #contactus #pagetop,
	#hpb-main #privacy #pagetop{

		width:auto;
		float:none;
		margin:30px 0 10px 0;
		text-align:right;
	}

	/* サイドブロック内パーツ */
	#hpb-aside #banner{
		width:96%;
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:0;
	}
	#hpb-aside #banner ul{
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:10px;
	}
	#hpb-aside #banner ul li{
		width:100%;
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:0;
	}
	#hpb-aside #banner ul li a{
		width:auto;
	}
	#banner li a:hover{
		margin-left:0;
		text-indent:20px;
	}
	#hpb-aside #shopinfo{
		border-top: 1px solid #ffffff;
		width:100%;
		padding-top:0;
		padding-left: 0;
		padding-right:0;
		padding-bottom:0;
		margin-top:0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom:0;
	}
	#hpb-aside #shopinfo h4,
	#hpb-aside #shopinfo p{
		padding-top:0;
		padding-left: 10px;
		padding-right:10px;
		padding-bottom:0;
		margin-top:10px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom:10px;
	}

	/* トップページ デザイン定義 */
	#hpb-wrapper #hpb-main #toppage-news dl{
		width:auto;
		margin-top:10px;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
		background-color:#D2D2D2;
	}
	#hpb-wrapper #hpb-main #toppage-news dl dt{
		float: none;
		line-height: 1.4;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:10px;
		padding-bottom:0;
		padding-left: 5px;
		padding-right: 5px;
		min-height:5px;
		width:auto !important;
		height:auto;
		text-align:left;
	}
	#hpb-wrapper #hpb-main #toppage-news dl dd{
		line-height: 1.4;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
		padding-top:5px;
		padding-bottom:10px;
		padding-left: 10px;
		padding-right: 10px;
		height:auto;
		border-bottom:2px solid #eeeeee;
	}
	.itemlist,
	#item .itemlist,
	#hpb-wrapper #toppage-item .itemlist{
		padding:0;
		margin:0;
		width:100%;
	}
	.itemlist .item,
	#item .itemlist .item,
	#hpb-wrapper #toppage-item .item{
		height:auto;
		float:none;
		margin-bottom: 30px;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 0;
		width: 100%;
		text-align:center;
	}
	.itemlist .item img,
	#item .itemlist .item img,
	#hpb-wrapper #toppage-item .itemlist .item img{
		height:auto;
		width: auto;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
	}
	.itemlist .item .itemdata,
	.hpb-layoutset-02 #item .itemlist .item .itemdata,
	#hpb-wrapper #toppage-item .itemlist .item .itemdata{
		width:auto;
		text-align:left;
		padding-left:5px;
		padding-right:5px;
	}
	#toppage-item .itemlist .item .itemdata p,
	#hpb-wrapper #toppage-item .itemlist .item .itemdata p{
		margin-bottom:0;
		padding-bottom:10px;
	}
	#item #nbanner{
		width:96%;
		display:none;
	}
	#item #nbanner a{
		width:100%;
		background-color:#063C5E;
		text-align:center;
		text-indent:0;
	}
	

	/* アクセスページ デザイン定義 */
	#hpb-main #access img:nth-child(1){
		width:100%;
		height:auto;
		margin:0 0 15px 0;
	}

	#toppage p,
	#concept p,
	#company p,
	#access p{
		width: auto;
		margin-top:0;
		margin-bottom:40px;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		padding-left: 5px;
		padding-right: 5px;
	}
	#contactus form table{
		width:100%;
	}
	#contactus form table th,
	#contactus form table td{
		display:block;
		width:96%;
		padding:8px 2%;
	}
	#contactus form table td textarea,
	#contactus form table td input.l{
		width:94%;
	}
	#contactus input.button{
		margin-left:auto;
		margin-right:auto;
	}

}
