@charset "Shift_JIS";

/* フルCSSプロフェッショナルテンプレート部品設定 */

/* レイアウトコンテナ */
.hpb-parts-cnt-style{
    border-color:#cccccc;
}

/* 見出し */
.hpb-parts-hl-style{
    border-color:#007399;
}

.hpb-parts-hl-01{
	padding-bottom:8px;
	padding-left:0 !important;
	background-image:none !important;
}

.hpb-parts-hl-02{
	padding-bottom:8px;
	padding-left:0 !important;
	background-image:none !important;
	border-bottom-style:dotted !important;
	border-bottom-width:1px !important;
	border-bottom-color:#cccccc;
}

.hpb-parts-hl-03{
	padding-bottom:8px;
	padding-left:0 !important;
	background-image:none !important;
	border-bottom-style:solid !important;
	border-bottom-width:1px !important;
	border-bottom-color:#007399;
}

.hpb-parts-hl-04{
	padding-bottom:8px;
	padding-left:8px !important;
	padding-right:8px;
	padding-top:8px;
	background-image:none !important;
	border-style:dotted !important;
	border-width:1px !important;
	border-color:#cccccc;
}

.hpb-parts-hl-05{
	padding-bottom:8px;
	padding-left:8px !important;
	padding-right:8px;
	padding-top:8px;
	background-image:none !important;
	border-style:dotted !important;
	border-width:1px !important;
	border-bottom-color:#007399;
}

.hpb-layoutset-01 .hpb-parts-hl-06{
	padding-bottom:8px;
	padding-left:22px;
	background-image : url(icon_1X.png);
	background-position:left 2px;
	background-repeat:no-repeat;
	border-left-style:none !important;
}

.hpb-layoutset-01 .hpb-parts-hl-07{
	padding-bottom:8px;
	padding-left:22px;
	background-image : url(icon_1X.png);
	background-position:left 2px;
	background-repeat:no-repeat;
	border-right-style:none !important;
	border-left-style:none !important;
	border-top-style:none !important;
	border-bottom-style:dotted !important;
	border-bottom-width:1px !important;
	border-bottom-color:#cccccc;
}

.hpb-layoutset-01 .hpb-parts-hl-08{
	padding-bottom:8px;
	padding-left:22px;
	background-image : url(icon_1X.png);
	background-position:left 2px;
	background-repeat:no-repeat;
	border-right-style:none !important;
	border-left-style:none !important;
	border-top-style:none !important;
	border-bottom-style:solid !important;
	border-bottom-width:1px !important;
	border-bottom-color:#007399;
}

.hpb-layoutset-02 .hpb-parts-hl-06{
	border-left-style:none !important;
}

.hpb-layoutset-02 .hpb-parts-hl-07{
	padding-bottom:8px;
	border-right-style:none !important;
	border-left-style:none !important;
	border-top-style:none !important;
	border-bottom-style:dotted !important;
	border-bottom-width:1px !important;
	border-bottom-color:#cccccc;
}

.hpb-layoutset-02 .hpb-parts-hl-08{
	padding-bottom:8px;
	border-right-style:none !important;
	border-left-style:none !important;
	border-top-style:none !important;
	border-bottom-style:solid !important;
	border-bottom-width:1px !important;
	border-bottom-color:#007399;
}

/* 見出し */
.hpb-parts-cbox-style{
    border-color:#cccccc;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
}

.hpb-parts-cbox-04{
	border-color:#007399;
	border-style:solid;
	border-width:1px;
}

/* 水平線 */
.hpb-parts-hr-style{
    border-color:#007399;
}

/* 複数写真ボックス */
.hpb-parts-pbox-style{
    border-color:#007399;
}

.hpb-parts-pbox-style h4{
	margin:0 !important;
    padding:0 !important;
}

/* バナー */
.hpb-parts-blist-style{
    border-color:#007399;
}

a:link.hpb-parts-blist-style{
    color:#007399;
}
a:visited.hpb-parts-blist-style{
    color:#007399;
}
a:hover.hpb-parts-blist-style{
    color:#cccccc;
}
a:active.hpb-parts-blist-style{
    color:#cccccc;
}

/* ユーザー設定スタイル */
