@charset "Shift_JIS";

/*--------------------------------------------------------
  フルCSSプロフェッショナルテンプレート部品設定
--------------------------------------------------------*/

.hpb-parts-cnt-style {
    border-color: #cccccc;
}

.hpb-parts-hl-style {
    padding-left: 0.2em !important;
    border-color: #cccccc;
}

.hpb-parts-cbox-style {
    border-color: #cccccc;
}

.hpb-parts-hr-style {
    border-color: #cccccc;
}

.hpb-parts-pbox-style {
    border-color: #cccccc;
}
.hpb-parts-pbox-style h4 {
    padding: 0px !important;
}

.hpb-parts-blist-style {
    color: #ffffff;
    border-color: #231815;
}
a.hpb-parts-blist-style:link {
    background-color: #454342;
}
a.hpb-parts-blist-style:visited {
    background-color: #454342;
}
a.hpb-parts-blist-style:hover {
    color: #ffffff;
    background-color: #595655;
}
a.hpb-parts-blist-style:active {
    color: #ffffff;
    background-color: #595655;
}

/*--------------------------------------------------------
  ユーザー設定スタイル
--------------------------------------------------------*/
